
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  overflow-x: hidden;
  scroll-behavior: smooth;
  padding: 10px 20px;
}
h1,h2,h3,h4,h5{
  font-family: 'Cormorant Infant', serif;
  color: #000;
  
}
.main h3{
  font-size: 30px;
  margin-top: 30px;
  margin-bottom: 10px;
  color: #000;
}
a{
  text-decoration: none;
}
p {
  font-family: "Muli", sans-serif;
  font-weight: 400 ;
  font-size: 16px;
  color: black;
}
li{
    list-style: none;
 
}
.header-img{
 width: 40%;
 height: 40%;
 border-radius: 10%;
 margin-top: 20px;
}
.header-img img{
  width: 100%;
}
.header{
  display: flex;
  justify-content: space-around;
}
.info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.info-text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.name{
  font-size: 40px;
  /* margin-top: 30px;
  margin-bottom: 2px; */
}
.role{
  font-size: 20px;
  
}
.tagline2{
  font-size: 15px;
 
}
.tagline{
  font-weight: 600;
  margin-top: 10px;
}
.social-link{
  display: flex;
}
.icon{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #bdbdbd;
  margin: 10px 20px 10px  5px;
}
.social-icon{
  width: 15px;

  }
  .nav{
    display: flex;
    width: 100%;
    height: 40px;
    padding: 10px;
    margin-top: 20px;
    background-color: black;
    align-items: center;
    justify-content: center;
   
  }
  .nav a:hover{
    text-decoration: underline;
  }
  .list-items{
    
   color: white;
   font-size: 16px;
   margin: 0  50px ;
  }
  .list-items:hover{
    text-decoration: underline;
  }
  .main{
    /* background-color: #454545; */
    padding: 50px;
    margin-top: 20px;
    border-radius: 5%;
  }
  .main p{
    color: #000;
  }
.fade-in{
  opacity: 0;
  animation: fade-in 1s ease-in-out forwards;
}
@keyframes fade-in {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
#skills li{
  font-size: 16px;
  color: #000;
  list-style:circle;
  font-family: "Muli", sans-serif;
}
.scroll-container{
  background-color: white;
  overflow-x: hidden;
  width: 100%; 
  height: 250px;
}
.scroll-content {
  display: flex;
  flex-wrap: nowrap;
  animation: marquee 15s linear infinite;
  overflow-x: hidden;
  aspect-ratio: 16/9;
  width: 250%; 
}
.scroll-container::-webkit-scrollbar{
  display: hidden;
}

.scroll-content img {
  width: auto; /* Ensure images maintain aspect ratio */
  
  max-height: 100px; /* Adjust height as needed */
  margin-right: 20px; /* Add space between images */
}
@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.video-container{
  display: grid;
  grid-template-columns: repeat(2, 2fr);
padding: 0 10px;
 gap: 2rem;
 margin-top: 20px;
 place-items: center;
 animation: fade-in 1s ease-in-out forwards;
}
#projects{
  width: 80%;
 /* padding: 2px; */
 border-radius: 10px;
  box-shadow: 0 2px 4px rgb(63, 36, 5);
}
#back{
  display: flex;
 justify-content: end;
 padding: 10px;
}
@media only screen and (max-width: 780px){
  .video-container{
 
    grid-template-columns: repeat(1, 2fr);
  padding: 0 10px;
  
  
  }
  body{
    overflow-x: hidden;
    scroll-behavior: smooth;
    padding: 20px;
  }
  
  .header-img{
    width: 100%;
    height: auto;
    border-radius: 10%;
   }
   .header{
    display: block;
   }
   .social-icon{
    margin: 5px;
    width: 20px;
    }
    .icon{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: grey;
      margin: 10px 10px 10px  5px;
    }
    .list-items{
 
      font-size: 20px;
      margin: 15px ;
     }
     .main{
     padding: 20px;
      border-radius: 10px;
    }
    .main h3{
      font-size: 40px;
    }
    .main p{
      font-size: 20px;
      line-height: 1.2;
    }
    #skills li{
      font-size: 22px;

      list-style:circle;
      margin-left: 20px;
    }
    .main p{
    
    text-align: left;
    
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px){
  .header-img{
    width: 90%;
    height: auto;
    border-radius: 10%;
    margin-top: 20px;
   
   }
   .name{
    font-size: 50px;
    margin-top: 30px;
    margin-bottom: 2px;
  }
  .role{
    font-size: 25px;
    
  }
  .tagline2{
    font-size: 25px;
   
  }
  .tagline{
    font-size: 25px;
    font-weight: 600;
    margin-top: 10px;
  }
 
  .social-icon{
    margin: 10px;
    width: 30px;
    
    }
    .icon{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-color: grey;
      margin: 10px 30px 10px  5px;
    }
    .list-items{
    
      color: white;
      font-size: 20px;
      margin: 15px ;
     }

}
